/**
 * Site header
 */
.site-header {
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: rgba($main-green, .9);
    position: fixed;
    z-index: 400;

    @media (max-width: 686px) {
        right: none;
        top: none;
        bottom: none;
        width: 100%;
        position: inherit;
    }
}

.site-title {
    text-align: center;
    display: block;
    padding: 30px 30px 0 30px;
    margin-bottom: 40px;

    @media (max-width: 686px) {
        padding: 20px 0 0 0;
        margin-bottom: 20px;
    }

    img {
        width: 100%;

        @media (max-width: 686px) {
            width: 160px;
            margin-bottom: 20px;
        }
    }
}

#menu-trigger {
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    font-size: $font-smaller;
    background: $main-green-dark;
    color: #fff;
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 0 10px;

    @media (max-width: 686px) {
        display: inline-block;
    }
}

.header-entry {

    @media (max-width: 686px) {
        display: none;
    }
}

.main-nav {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        position: relative;
    }

    a {
        height: 30px;
        line-height: 30px;
        font-size: $font-smaller;
        color: white;
        text-transform: uppercase;
        display: block;
        padding: 0 30px;
        letter-spacing: 2px;

        &:hover {
            background: $main-green-dark;
            text-decoration: none;
        }
    }

    .active-link {
        background: rgba($main-green-dark, .5);
    }

    .active-link:before {
        content: " ";
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background: #fff;
        display: inline-block;
        line-height: 30px;
        position: absolute;
        left: 13px;
        top: 11px;
    }
}

.menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
    display: none;

    > svg {
        width: 18px;
        height: 15px;

        path {
            fill: $grey-color-dark;
        }
    }
}

.social {
    background: $main-green-dark;
    padding: 20px 30px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @media (max-width: 686px) {
        right: none;
        top: none;
        bottom: none;
        position: inherit;
        margin-top: 10px;
        padding: 10px 30px;
    }

    li {
        list-style-type: none;
        display: inline-block;
    }

    li:first-child {
        margin-right: 35px;
    }

    a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        color: #fff;
        font-size: $font-small;
        text-decoration: none;

        &:hover {
            opacity: .8;
        }
    }

    span {
        width: 30px;
        height: 30px;
        background-size: 100%;
        margin-right: 10px;
        float: left;
        background-image: url("/assets/social.png");
    }

    .instagram {
        background-position: 0 -30px;
    }
}


/**
 * Content entry
 */

.entry {
    margin-right: 300px;
    padding: 40px 40px 30px 40px;

    @media (max-width: 686px) {
        margin-right: 10px;
        margin-left: 10px;
        padding: 0;
    }

    h2 {
        margin: 20px 0 10px 0;
        letter-spacing: 1px;
        font-weight: normal;
    }

    p,
    li {
        font-size: $font-small;
        line-height: 22px;
    }

    p {
        margin: 0 0 10px 0;
    }

    .column-01,
    .column-02 {
        width: 40%;
    }

    .column-01 {
        float: left;
    }

    .column-02 {
        float: right;
    }

    @media (max-width: 686px) {

        .column-01,
        .column-02 {
            width: 100%;
            float: none;
        }
    }
}

.simple-list {
    margin: 0 0 15px 10px;
    padding: 0;

    li {
        list-style-type: none;
    }

    li:before {
        content: "• ";
        color: $main-green;
        font-size: $font-big;
        margin-right: 3px;
    }
}


/**
 * Image aside
 */

.entry.with-image {
    margin-left: 300px;

    @media (max-width: 686px) {

        margin-left: 0;
    }
}

.images-aside {
    width: 300px;
    float: left;

    @media (max-width: 686px) {

        width: auto;
        float: none;
    }
}

.profile-image {
    height: 100vh;
    background-image: url("../assets/carol.jpg");
    background-size: 400px;
    background-position: -55px 0;
    background-repeat: no-repeat;

    @media (max-width: 686px) {
        width: 179px;
        height: 300px;
        background-size: 200px;
        background-position: 0 0;
        margin: auto;
    }
}

.images-list-aside {
    width: 290px;
    padding: 10px 0 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;

    @media (max-width: 686px) {

        position: inherit;
        top: none;
        left: none;
    }

    li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    img {
        width: 100%;
    }
}


/**
 * Contact
 */

 .hide {
    visibility: hidden;
 }

 form {

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    span {
        color: red;
    }

    input,
    textarea {
        width: 100%;
        padding: 0 10px;
        font-size: $font-medium;
        box-sizing: border-box;
        height: 34px;
        line-height: 34px;
        border: 1px solid $main-green;
    }

    textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 80px;
        max-height: 160px;
    }

    input[type="submit"] {
        width: auto;
        border: none;
        background: $main-green;
        border-radius: 3px;
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        font-size: $font-small;
        letter-spacing: 1px;

        &:hover {
            opacity: .8;
        }
    }
 }

 address {
    margin-top: 20px;
 }

 .map:hover img {
    opacity: .8;
 }


/**
 * Portfolio list
 */

.portfolio-list {
    padding: 0;
    margin: 20px 300px 0 20px;

    li {
        width: 210px;
        list-style-type: none;
        display: inline-block;
        margin: 0 20px 20px 0;

        img {
            width: 100%;
        }
    }

    h2 {
        margin: 10px 0 0 0;
    }

    a {
        text-decoration: none;
    }

    a:hover img {
        opacity: .8;
    }
}


/**
 * Portfolio gallery
 */

.portfolio-gallery {
    width: 700px;
    min-height: 300px;
    padding: 10px;
    background: $light-gray;
    margin: auto;
    margin-bottom: 10px;
    position: relative;

    @media (max-width: 686px) {
        width: 100%;
        padding: 0;
        background: none;
    }

    .back {
        border-radius: 2px;
        text-transform: uppercase;
        font-size: $font-small;
        font-weight: normal;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
        background: $main-green;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        margin-top: 10px;
        position: absolute;
        right: 0;
        bottom: 18px;
        margin-right: 10px;

        @media (max-width: 686px) {
            margin-right: 0;
            bottom: 0;
        }

        &:hover {
            opacity: .7;
        }
    }

    img {
        width: 100%;
    }
}


/**
 * Home gallery
 */

body {
    background-size: 100%;
    background-repeat: no-repeat;
}
