/**
 * Site header
 */
.site-header {
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: rgba($main-green, .9);
    position: fixed;
    z-index: 200;
}

.site-title {
    text-align: center;
    display: block;
    padding: 30px 30px 0 30px;
    margin-bottom: 40px;

    img {
        width: 100%;
    }
}

.main-nav {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }

    a {
        height: 30px;
        line-height: 30px;
        font-size: $font-smaller;
        text-transform: uppercase;
        color: white;
        display: block;
        padding: 0 30px;

        &:hover {
            background: $main-green-dark;
            text-decoration: none;
        }
    }
}

.menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
    display: none;

    > svg {
        width: 18px;
        height: 15px;

        path {
            fill: $grey-color-dark;
        }
    }
}


/**
 * Content entry
 */

.entry {
    margin-right: 300px;
    padding: 40px 40px 30px 40px;

    h2 {
        margin: 20px 0 10px 0;
    }

    p,
    li {
        font-size: $font-small;
        line-height: 22px;
    }

    p {
        margin: 0 0 10px 0;
    }
}

.simple-list {
    margin: 0 0 15px 10px;
    padding: 0;

    li {
        list-style-type: none;
    }

    li:before {
        content: "• ";
        color: $main-green;
        font-size: $font-big;
        margin-right: 3px;
    }
}


/**
 * Image aside
 */

.entry.with-image {
    margin-left: 300px;
}

.images-aside {
    width: 300px;
    height: 700px;
    float: left;
}

.profile-image {
    height: 100vh;
    background-image: url("../assets/carol.jpg");
    background-size: 400px;
    background-position: -55px 0;
    background-repeat: no-repeat;
}


/**
 * Home gallery
 */

.portfolio-list {
    padding: 0;
    margin: 20px 300px 0 20px;

    li {
        width: 210px;
        list-style-type: none;
        display: inline-block;
        margin: 0 20px 20px 0;

        img {
            width: 100%;
        }
    }

    h2 {
        margin: 10px 0 0 0;
    }

    a {
        text-decoration: none;
    }

    a:hover img {
        opacity: .8;
    }
}


/**
 * Home gallery
 */

.gallery {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../assets/photos/02.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
