/**
 * Site header
 */
.site-header {
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: $main-green;
    position: fixed;
}

.site-title {

    margin-bottom: $spacing-unit;
}

.site-nav {

    .menu-icon {
        display: none;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }
    }
}


/**
 * Home gallery
 */

 .gallery {
    background: url("/assets/photos/01.jpg");
    background-size: 100%;
 }
